*{
    box-sizing: border-box;
    margin: 0;
    -webkit-box-align: center;
    text-align: -webkit-center;
   
}

                                .banner{
    background-image: url(../img/banner1.png);
    background-color: #cccccc;
    width: 1920px;
    height: 1080px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, minmax(10px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
.rectangle2{
    background: rgba(0, 0, 0, 0.8);
    width: 1920px;
     height: 1080px;
}

v,h{
    font-family: 'Philosopher';
    font-size: 80px;
    text-align: right;
}
v{
    grid-column: 5;
    grid-row-start: 6;
    color: #ffffff;
}
h{
    grid-column: 5;
    grid-row: 7;
    color: #FF9900;
}


pt{
    grid-column: 8;
    grid-row: 6;
    color: white;
    font-size: 25px;
    width: 439px;
}
pp{
    font-size: 20px;
    color: #FF9900;
    grid-row: 9;
    grid-column: 8;
}
.logo{
    font-size: 38px;
    grid-row: 2;
    grid-column: 2;
    width: 141px;
}
.logo>logo1{
    color: #ffffff;
}
logo2{
    color: #FF9900;
}
.nav{
    width: 652px;
    margin: 0em 0em 0em 4em;
    grid-column-start: 5;
    grid-column-end: 13;
    grid-row: 2;
    font-size: 33px;
    color: #cccccc;
    text-decoration: none;   
}
a:hover{
    color: #FF9900;
}
a{
    color: #cccccc;
    text-decoration: none;   
}
takeatour{
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;

    color: #FF9900;
    grid-column: 11;
    grid-row: 2;
    width: 118px;
    cursor: pointer;
}
takeatour:hover{
    color: aqua;
}
.logo2{
    font-size: 38px;
    width: 230px;
    margin:1em 2em;
}   
                    .readmore{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-columns: repeat(8, minmax(10px, 1fr));
    width: 1920px
}
r{
    grid-column-end: 9;
    border-bottom-style: solid;
    border-color: yellow;
    font-size: 28px;
    font-weight: 900;
    width: 132px;
}
                .our-story{ 
display: grid;
grid-template-columns: repeat(3, 610px);
padding: 0em 0em 0em 5.5em;

}

.vintage1{
    grid-column: 1;
    grid-row: 1;
}
.vintage5{
    grid-column: 1;
    grid-row: 1;
    margin-top: 31.25555em;
   
}
.distinct{
    grid-column: 2;
    grid-row: 1 ;
    text-align: center;
    width: 30em;
    
}
.Worldclass{
    grid-column: 1;
    grid-row: 1;
    width: 30em;
    text-align: center;
    margin-top: 27em;
}


.vintage2{
    grid-column: 2;
    margin-top: 6em;
    grid-row: 1;    
}
.passionate{
    grid-column: 3;
    grid-row: 1;
    text-align: center;
    margin-top: 27em;
    width: 30em;
}
.vintage3{
    grid-column: 3;
    grid-row: 1;
}
.vintage6{
    grid-column:3;
    grid-row: 1;
    margin-top: 31.35em;
}


                .maskgroup{
    width: 1920px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(18, minmax(73px, 1fr));
    grid-column-gap: 11px;
    grid-template-rows: repeat(13, minmax(6px, 1fr));
}


   .lineback{
    border: 5px solid #FF9900;
    width: 1920px;
    height: 420px;
    grid-column: 1;
    grid-row: 2;
}

        .img1{
            grid-column: 2;
            grid-row: 1;
        }
        .card1{
            grid-column: 2;
            grid-row: 1;
            width: 260px;
            z-index: 200;
            padding: 18em 0em 0em 1em;
            color: cornsilk;
         } 
        .img2{
            grid-column: 6;
            grid-row: 1;
        }
         .card2{
            grid-column: 6;
            grid-row: 1;
            width: 260px;
            z-index: 200;
            padding: 18em 0em 0em 1em;
            color: cornsilk;
            }
        .img3{
            grid-column: 10;
            grid-row: 1;
        }
        .card3{
            grid-column: 10;
            grid-row: 1;
            width: 260px;
            z-index: 200;
            padding: 18em 0em 0em 1em;
            color: cornsilk;    
        }
        .img4{
            grid-column: 14;
            grid-row: 1;
        }
        .card4{
            grid-column: 14;
            grid-row: 1;
            width: 359px;
            z-index: 200;
            padding: 18em 0em 0em 1em;
            color: cornsilk;
        }
        y{
        border-bottom-style: solid;
        border-color: yellow;
        font-size: 28px;
        font-weight: 900;
         }
        .viewmore{
            display: grid;
            grid-template-rows: repeat(2, minmax(10px, 1fr));
            grid-template-columns: repeat(8, minmax(10px, 1fr));
            width: 1920px
        }
.area{
            background: url(../img/background.png);
            width: 1920px;
            height: 929.11px;
            display: grid;
            grid-template-rows: repeat(5, minmax(10px, 1fr));
            grid-template-columns: repeat(8, minmax(10px, 1fr));

}
.Pnegree{
    width: 1920px;
    height: 904px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.Pngtree{
    grid-column: 2;
    grid-row: 2;
}
.logo3{
    grid-column: 1;
    grid-row: 1;
    font-size: 40px;
    font-weight: 700;
    width: 493px;
    padding: 2em 3em;
}
.areasofex{
    grid-column: 6;
    grid-row: 2;
    font-weight: 700;
    font-size: 40px;
    width: 315px;
}
.oueconc{
    grid-column: 6;
    grid-row: 2;
    padding: 3em 0em 0em 0em;
    width: 30em;
}
.whatwedo{
    grid-column: 7;
    grid-row: 3;
    width: 17em;
}