
  

body{
    background-color: rgba(253, 215, 253, 0.705);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
@media screen and (max-width: 800px) {
    .rectangle9,.rectangle10 {
      width: 100%; 
    }
}
a:hover{
    color: aqua;
}
i:hover{
    color: blue ;
}
.menu-btn{
    height: 1.3125em;
    margin-right: 2em;
    height: 25px;
    width: 25px;
}
.menu{
    display: contents;
}

ul>a{
    text-decoration: none;
    color: #000000;
}
.call-to-action{
    font-size: 18px;
    background: black;
    color: #FFFFFF;
    border-radius: 0.5em;
    width: 155px;
    height: 55px;
   }
.call-to-action:hover{
        background: blue;
        color: yellow;
}
ul{
    font-size: 28px;
    
}
.icons{
    float: right;
}
a{
    color: #FFFFFF;
    text-decoration: none;
}


/*container*/

.buildforfly{
    margin: 2em;
}
.left {
    padding: 1.5em;
    margin-top: 10em;
    width: 13em;
}
bff{
    
    font-weight: 800;
    font-size: 3.75em;
    line-height: 0.75em;
    letter-spacing: -0.05em;
    color: #000000;
}
p{
    height: 3.25em;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.125em;
    line-height: 1.75em;
    color: #000000;
    width: 191px;
}
/*Shoes*/
.Shoes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.vector5 {
    transform: matrix(1, 0.1, 0, 0.99, 0, 0);
}
.vector6 {    
    transform: matrix(1, 0.1, 0, 0.99, 0, 0);
}
/*Content*/
content{
   width: 1512px;
}
.block-wom-men{
    display: contents;
    gap: 1em;
    justify-content: center;
    width: 1512px;
}


.woman-img>sh{
    float: right;
    font-size: 18px;
    line-height: 3em;
    font-weight: 600;
    padding: 16em 1em;
}
.men-img>sh{
    float: left;
    font-size: 18px;
    line-height: 3em;
    font-weight: 600;
    padding: 16em 1em;     
    color:#ffffff ;
}
.women{
   display: inline-flex;
   justify-content: flex-start;
}
.men{
    display: inline-flex;
    justify-content: flex-start;
}
pw{
    position: absolute;
    font-size: 26px;
    font-weight: 800;
    margin: 1em 1em 0em;
}
pm{
    position: absolute;
    font-size: 26px;
    font-weight: 800;
    padding: 1em 1em 0em;
}
shw{
    position: absolute;
    margin: 25em 0em 0em 38em;
}
shm{
    position: absolute;
    margin: 25em 0em 0em 2em;
}

.img{
        padding: 1.56em 0.625em 0.8125em 1.25em;
        width: 342px;
        height: 342px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;;
}
b{
    margin-top: 5em;
    font-size: 1.7em;
}

med{
    display:block;
    margin: 2em 0em 0em 1.5em;
}
.old{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 40px;
}
.title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
}

.frame-3{
   
    overflow-x: scroll;
    display: flex;
    gap: 2em;
}
.frame-4{
   
    overflow-x: scroll;
    display: flex;
    gap: 2em;
}
.social{
    width: 82px;
}
title-last{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    color: #C4C4C4;
    opacity: 0.5;
    display: block;
}

.fa-brands{
color: #FFFFFF;
}
.releases{
    width: 300px;
    height: 252px;
}
.title2{
    height: 19em;
    display: grid;
    justify-content: center;
    padding: 3em;
}
.title2>pt{
    text-align: center;
    font-weight: 900;
    width: 250px;
    height: 80px;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
}
.title2>te{
    color: #000000;
    font-size: 18px;
    text-align: center;
    width: 250px;
    height: 52px;
    line-height:28px;    
}
.call-to-action2{
    width: 195px;
    height: 50px;
    background: #000000;
    border-radius: 0.5em;
    margin: 0em 2em ;
}
.call-to-action2:hover{
    width: 195px;
    height: 50px;
    background: yellow;
    border-radius: 0.5em;
}
.call-to-action1{
    width: 195px;
    height: 50px;
    color: #ffffff;
    background: #000000;
    border-radius: 0.5em;
}
.call-to-action1:hover{
    color: #ffffff;
    background: blue;
    border-radius: 0.5em;
}
button{
    line-height: 28px;
    color: #ffff;
    background: #0000;
    cursor: pointer;
}
.rectangle-last{
    width: 1512px;
    height: 285px;
    background: #000000;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.footer{
    display: block;
    background: #000000;
    width: 390px;
    height: 435px;
}
.legalstuff{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    color: #FFFFFF;
}
.about{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    color: #FFFFFF;
}
.help{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    color: #FFFFFF;
}
.my-account{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    color: #FFFFFF;
}
.all-rights{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.4;
}