*{
    box-sizing: border-box;
    font-family: 'Inter','Source Sans Pro';
    font-style: normal;
    text-align: -webkit-center;
}
header{
    width: 67.5em;
    background: #000;
    display: inline-table;
    padding: 1.4em;
}
b{
    color: aliceblue;
    font-weight: 900;
    float: left;
}
b1{
    color: #FAE800;
    font-weight:900;
    float: left;
}
button:hover{
    background: none;
    cursor: pointer;
    color: blue;
}
.blog,.projects{
    float: right;
    background: none;
    color: aliceblue;
    width: 8em;
    border: none;
}
.fa{
    text-decoration-line: none;   
    float: right;
    color: white;
    padding: 0em 0.3em;
}
.Hero{
    width: 67.5em;
    background: #FAE800;
    padding: 9em 5em 10em 12em;
}
.Hero>b{
    color: black;
    font-weight: 900;
    font-size: 8em;
    display: contents;
    padding: 1em 0em 0em 2em;
    text-shadow: 0.075em 0.085em 0.02em rgba(0, 0, 0, 0.50);
}
.Hero>b2{
    font-weight: 900;
    font-size: 8em;
    color: aliceblue;
    text-shadow: 0.075em 0.085em 0.02em rgba(0, 0, 0, 0.50);
}
.Hero>t{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0em 15em 0em 8em;
    text-align: center;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
   
}
.about-me{
    width: 67.5em;
    padding: 0em 19em 0em 19em;
}
titl{
    font-family: Sans-serif;
    font-size: 3em;
    color: gray;
    opacity: 0.4;
    font-weight: 900;
    
}
bsecond{
    color: #FAE800;
    font-weight: 900;
    font-size: 3em;
   
}
t2{
    font-family: 'SourceSansPro';
    display: flex; 
}
.titl{
    width: 67.5em;
}
p{
    position: absolute;
    font-size: 28px;
    font-weight: 900;
    width: 100px;
    color: antiquewhite;
    padding: 1em 1em 0em;
}
.projecs{
    display: inline-block;
    width: 19em;
}
.titlecont{
    width: 67.5em;
    padding: 2em;
}
.frame{
    white-space: nowrap;
    padding: 2em 5em;
}
pr{
    font-size: 38px;
    color: #000000;
    font-weight: 900;
}
pr2{
    font-size: 38px;
    font-weight: 900;
    color: #FAE800;
}
.seemore{
    border: none;
    color: #FAE800;
    background: none;
    width: 78.5em;
   
}
.seemore:hover{
    color: aqua;
    background: none;
}

.contct{
    display: flex;
    width: 67.5em;
    justify-content: center;
}
tp{
    color: blanchedalmond;
    font-size: 1em;
    font-weight: 600;
    padding: 23em 0em 0em;
    display: block;
    
}
.snailmail{
    background: url(../HW-6/img/reg9.png);
    width: 20.875em;
    height: 31.3125em;
}
.mail{
    background: url(../HW-6/img/reg8.png);    
    width: 20.875em;
    height: 31.3125em;
}
footer{
    display: -webkit-inline-box;
    gap:60px;
    padding: 2em 2em 2em 2em;
    }
blast{
    font-size: 24px;
    font-weight: 900;
}
b1last{
    color: #FAE800;
    font-weight: 900;
}
t{
    color: #000000;
}
ts{
    color: red;
}
.titres{
    font-size: 12px;
    margin: 0em 0em 0em 26em;
}
.nav>a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 900;
}
.nav>a:hover{
    color: aqua;
    font-size: 20px;
    font-weight: 1000;

}
